//VARIABLES
$blue: #237bd3;

//GENERAL STYLING
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	padding-top: 0.5vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	background: rgb(35, 123, 211);
	background: radial-gradient(
		circle,
		rgba(35, 123, 211, 1) 0%,
		rgba(0, 0, 0, 1) 71%
	);
}

.custom-button {
	text-decoration: none;
	background: $blue;
	color: #fff;
	border: transparent 2px solid;
	padding: 0.5rem 1rem;
	border-radius: 7px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: transparent;
		border: $blue 2px solid;
		text-decoration: none;
		color: $blue;
	}
}

input {
	border: none;
	border-radius: 30px;
	width: 90%;

	&::placeholder {
		color: #e3e3e3;
		font-weight: 300;
		margin-left: 20px;
	}

	&:focus {
		outline: none;
	}
}

//BOOTSTRAP SUCKS SOMETIMES
.container {
	margin: 0 !important;
	padding: 0;
	border-radius: 7px;
	background: #f4f4f4;

	#username,
	#room-name {
		margin: 0;
	}

	.col-md-4 {
		border-right: #ececec 2px solid;

		#users-list {
			overflow-y: scroll;
			display: flex;
			overflow-x: hidden;
			flex-direction: column;
			height: 69vh;
			background: #fff;
		}
	}

	.col-md-4,
	.col-md-8 {
		padding: 0 !important;
	}

	.row.no-gutter {
		border: #f4f4f4 5px solid;
		border-radius: 10px;
		box-shadow: 10px 10px 50px #888888;
	}

	.profile-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		object-fit: cover;
	}

	.room-image {
		width: 50px;
		height: 50px;
		border-radius: 40%;
		object-fit: cover;
		background-color: transparent;
	}
}

.settings-tray {
	background: #eee;
	padding: 10px 15px;
	height: 10vh;
	display: flex;
	align-items: center;

	&--right {
		i {
			margin-top: 10px;
			font-size: 25px;
			color: grey;
			margin-left: 14px;
			transition: 0.3s;

			&:hover {
				color: $blue;
				cursor: pointer;
			}
		}
	}
}

.friend-drawer {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	transition: 0.3s ease;

	.content-left {
		display: flex;
		align-items: center;

		img {
			margin-right: 1rem;
		}
	}

	&--grey {
		background: #eee;
	}

	.time {
		color: grey;
	}

	&--onhover:hover {
		background: $blue;
		cursor: pointer;

		p,
		h6,
		.time {
			color: #fff !important;
		}
	}
}

// scrollbar styling
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: #9b9b9b;
}

//CHAT PANEL
.chat-panel {
	overflow-y: scroll;
	height: 60vh;
	padding: 1rem;
	background: #fff;

	.chat-bubble {
		padding: 10px 14px;
		background: #eee;
		margin: 0.4rem 0;
		border-radius: 9px;
		position: relative;
		width: max-content;
		max-width: 25rem;
	}

	.bubble-right--container {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.meta {
			margin: 0 0 0 0.5rem;
			font-size: 0.7rem;
		}

		.chat-bubble {
			background: $blue;
			color: #fff;
		}
	}

	.bubble-left--container {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.meta {
			margin: 0 0.5rem 0 0;
			font-size: 0.7rem;
		}
	}

	#username {
		margin: 0 0.5rem 0 0;
	}
}

/* MESSAGE INPUT */
.chat-box-tray {
	display: flex;
	padding: 10px 15px;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.65rem;

	input {
		padding: 0.5rem 1rem;
	}

	#send-message {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: transparent;

		&:focus {
			border: none;
			outline: none;
		}

		i {
			color: grey;
			font-size: 30px;
			transition: all 0.4s ease-in-out;

			&:hover {
				color: #237bd3;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 767px) {
	body {
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden !important;
		padding-top: 0;
	}

	.custom-button {
		padding: 0.5rem 0.5rem;
	}

	.container {
		width: 100%;
		overflow-x: hidden;
		border-radius: 0px;

		.col-md-4 {
			#users-list {
				height: 35vh;
			}
		}
	}

	.row.no-gutter {
		border-radius: none;
		box-shadow: 0px;
	}

	.chat-panel {
		height: 85vh;

		.chat-bubble {
			max-width: 22rem;
		}
	}
}
