body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding-top: 0.5vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #237bd3;
  background: radial-gradient(circle, #237bd3 0%, black 71%);
}

.custom-button {
  text-decoration: none;
  background: #237bd3;
  color: #fff;
  border: transparent 2px solid;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-button:hover {
  background: transparent;
  border: #237bd3 2px solid;
  text-decoration: none;
  color: #237bd3;
}

input {
  border: none;
  border-radius: 30px;
  width: 90%;
}

input::-webkit-input-placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}

input:-ms-input-placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}

input::-ms-input-placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}

input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

.container {
  margin: 0 !important;
  padding: 0;
  border-radius: 7px;
  background: #f4f4f4;
}

.container #username,
.container #room-name {
  margin: 0;
}

.container .col-md-4 {
  border-right: #ececec 2px solid;
}

.container .col-md-4 #users-list {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 69vh;
  background: #fff;
}

.container .col-md-4,
.container .col-md-8 {
  padding: 0 !important;
}

.container .row.no-gutter {
  border: #f4f4f4 5px solid;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 50px #888888;
          box-shadow: 10px 10px 50px #888888;
}

.container .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .room-image {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.settings-tray--right i:hover {
  color: #237bd3;
  cursor: pointer;
}

.friend-drawer {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.friend-drawer .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friend-drawer .content-left img {
  margin-right: 1rem;
}

.friend-drawer--grey {
  background: #eee;
}

.friend-drawer .time {
  color: grey;
}

.friend-drawer--onhover:hover {
  background: #237bd3;
  cursor: pointer;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #9b9b9b;
}

.chat-panel {
  overflow-y: scroll;
  height: 60vh;
  padding: 1rem;
  background: #fff;
}

.chat-panel .chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 0.4rem 0;
  border-radius: 9px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 25rem;
}

.chat-panel .bubble-right--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-panel .bubble-right--container .chat-bubble {
  background: #237bd3;
  color: #fff;
}

.chat-panel .bubble-left--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat-panel #username {
  margin: 0 0.5rem 0 0;
}

/* MESSAGE INPUT */
.chat-box-tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.65rem;
}

.chat-box-tray input {
  padding: 0.5rem 1rem;
}

.chat-box-tray #send-message {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
}

.chat-box-tray #send-message i {
  color: grey;
  font-size: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.chat-box-tray #send-message i:hover {
  color: #237bd3;
}

@media only screen and (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden !important;
    padding-top: 0;
  }
  .container {
    width: 100%;
    overflow-x: hidden;
    border-radius: 0px;
  }
  .container .col-md-4 #users-list {
    height: 35vh;
  }
  .row.no-gutter {
    border-radius: none;
    -webkit-box-shadow: 0px;
            box-shadow: 0px;
  }
  .chat-panel {
    height: 85vh;
  }
  .chat-panel .chat-bubble {
    max-width: 22rem;
  }
}
/*# sourceMappingURL=style.css.map */